<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>YTDL</title>
    </head>
    <body>
        <div class="container-fluid">
            <h1>ZF's YT DL-er</h1>
            <p style="margin-bottom: 4px;">yt-dlp version: {{ env_version }} <span style="color: red;"><em>{{ "OUTDATED" if pypi_version != env_version else "" }}</em></span></p>
            <p><span style="color: red;"><em>{{ "New version: " + pypi_version if pypi_version != env_version else "" }}</em></span></p>
            <form action="/process" method="post">
                <label for="url">
                    YouTube Link:<br />
                    <input type="text" name="url" id="url" required />
                </label>
                <br />
                <fieldset>
                    <legend>Choose format:</legend>
                    <input type="radio" id="va" name="video_or_audio" value="va" checked />
                    <label for="va">Video and Audio</label><br>
                    <input type="radio" id="a" name="video_or_audio" value="a" />
                    <label for="a">Audio</label><br>
                    <input type="radio" id="v" name="video_or_audio" value="v" />
                    <label for="v">Video</label><br>
                    <input type="radio" id="kitchen_sink" name="video_or_audio" value="kitchen_sink" />
                    <label for="kitchen_sink">Three Files</label><br>
                </fieldset>
                <input type="checkbox" id="quality" name="quality" value="bad">
                <label for="quality">Lower Quality</label><br>
                <input type="submit" value="Submit" />
            </form>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
